<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recyclo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <%= render 'shared/favicons' %>
  <%= render 'shared/mixpanel' %>
  
	<% if false %>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
	<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
