<!DOCTYPE html>
<html>
<head>
  <title>Recyclo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= render 'shared/favicons' %>
  <%= render 'shared/mixpanel' %>
  
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="map-layout">
		<%= render 'shared/navbar' %>
  	<%= render 'shared/messages' %>
		<div id="remote-server" data-assets-url="<%= root_url.concat('assets/') %>"></div>
		<div id="map" class="full-map initial-location-set non-editable"></div>
		<%= yield %>
	</div>
</body>
</html>
