<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Recyclo" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= render 'shared/favicons' %>
    <%= render 'shared/mixpanel' %>
    
    <%= javascript_include_tag "application" %>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>

  </head>
  <body>
		<%= render 'shared/navbar' %>
    <br/><br/>
    <%= render 'shared/messages' %>
    
    <div class="container">
			<%= yield %>
      
      <footer>
        <p>&copy; Recyclo 2015</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
